@import './reset.scss';
@import './animate.scss';
@import './myanimate.scss';
.page-wrap {
  .tree-wrap {
    width: 100%;
    height: 30rem;
    position: relative;
    .tree {
      width: 40%;
      height: 15rem;
      position: absolute;
      left: 30%;bottom: 2rem;
      background: red;
    }
    .sprinkler-box {
      display: none;
      position: absolute;
      right: 35%;top: 10rem;
      animation: showsprinkler 1s forwards;
      .sprinkler {
        width: 5rem;
        height: 5rem;
        background: gold;
      }
      .water {
        display: none;
        animation: watering 1s linear 3 1s;
        width: 3rem;
        height: 5rem;
        background: green;
        position: absolute;
        left: -3.5rem;top: 0;
      }
    }
  }
}
