@keyframes showsprinkler {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes watering {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(-2rem);
    opacity: 0;
  }
}

@keyframes bigtree {
  0% {
    transform: scale(1) translateX(-50%);
  }
  60% {
    transform: scale(1.2) translateX(-50%);
  }
  100% {
    transform: scale(1) translateX(-50%);
  }
}

@keyframes showhand {
  0% {
    transform: translate(0,0);
    opacity: 1;
  }
  20% {
    transform: translate(-1rem, 0);
    opacity: 1;
  }
  40% {
    transform: translate(1rem ,0);
    opacity: 1;
  }
  60% {
    transform: translate(-.5rem, 0);
    opacity: 1;
  }
  100% {
    transform: translate(4.5rem, -1.5rem);
    opacity: 0;
  }
}

@keyframes catchpest {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  60% {
    transform: translate(0, 1rem);
  }
  100% {
    transform: translate(3rem, -1rem);
    opacity: 0;
  }
}

@keyframes processlight {
  0% {
    background-image: linear-gradient(-180deg, #E0DC3A 0%, #82C321 40%, #4CB047 58%, #2D9D81 78%, #0761C0 100%);
  }
  100% {
    background-image: linear-gradient(-180deg, rgb(245, 241, 6) 0%, rgb(149, 242, 9) 40%, rgb(19, 237, 8) 58%, rgb(8, 237, 180) 78%, rgb(7, 119, 238) 100%);
  }
}




