@mixin backImg($url) {
  background: url($url) no-repeat 0 0;
  background-size: 100% 100%;
}

@keyframes sun {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes showsprinkler {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes watering {
  0% {
    // transform: translateX(0);
    @include backImg('../images/rain-1.png');
    opacity: 1;
  }
  90% {
    @include backImg('../images/rain-3.png');
  }
  100% {
    opacity: 0;
  }
}

@keyframes bigtree {
  0% {
    transform: scale(1) translateX(-50%);
  }
  60% {
    transform: scale(1.2) translateX(-50%);
  }
  100% {
    transform: scale(1) translateX(-50%);
  }
}

@keyframes showhand {
  0% {
    transform: translate(0,0);
    opacity: 1;
  }
  20% {
    transform: translate(-1rem, 0);
    opacity: 1;
  }
  40% {
    transform: translate(1rem ,0);
    opacity: 1;
  }
  60% {
    transform: translate(-.5rem, 0);
    opacity: 1;
  }
  100% {
    transform: translate(4.5rem, -1.5rem);
    opacity: 0;
  }
}

@keyframes catchpest {
  0% {
    @include backImg('../images/pest-2.png');
    transform: translate(0, 0);
    opacity: 1;
  }
  40% {
    transform: translate(0, 1rem);
  }
  90% {
    @include backImg('../images/pest-2.png');
    transform: translate(3rem, -1rem);
  }
  100% {
    opacity: 0;
  }
}

@keyframes processlight {
  0% {
    // background-image: linear-gradient(-180deg, #E0DC3A 0%, #82C321 40%, #4CB047 58%, #2D9D81 78%, #0761C0 100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes myrotate {
  0% {
    transform: scale(.8);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(.8);
  }
}


