body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
// body, button, input, select, textarea { font-size:12px; }
html,body {width: 100%;height: 100%;}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:active { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
button { background: none;outline: none; }
table { border-collapse:collapse; border-spacing:0; }
.hide {display: none;}
html,body {
  font-size: 2.6666667vw;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input::input-placeholder, textarea::input-placeholder {
  color: #BDBDBD;
}
input,textarea {
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #333333;
  background: transparent;
}
.theme-color {
  background: linear-gradient(-135deg, #0AC4BA 0%, #2BDA8E 100%);
}
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin backImg($url) {
  background: url($url) no-repeat 0 0;
  background-size: 100% 100%;
}

.tips-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;top: 0;
  right: 0;bottom: 0;
  .cover-wrap {
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, .4);
  }
  .tips-content {
    position: absolute;
    left: 50%;top: 20%;
    transform: translateX(-50%);
    max-width: 60%;
    padding: 1rem;
    color: #4EC1F7;
    background: rgba(0, 0, 0 ,.7);
    border-radius: 0.8rem;
  }
}
