@import './reset.scss';

.page-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .left {
    position: fixed;
    left: 0;bottom: 0;
  }
  .right {
    position: fixed;
    right: 0;bottom: 0;
  }
  .swiper-container {
    width: 400%;
    height: 100%;
    position: absolute;
    left: 0;top: 0;
    box-sizing: border-box;
    padding: 10% 0;
    overflow: hidden;
    .swiper-item {
      width: 25%;
      height: 100%;
      float: left;
      box-sizing: border-box;
      // background: red;
      .item-box {
        width: 85%;
        height: 100%;
        margin: 0 7.5% 0 -3%;
        background: red;
      }
    }
    .swiper-item-active {
      .item-box {
        margin: 0 7.5%;
      }
    }
  }
}
